name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        ghidra_version:
          - "11.2"

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "21"
      - uses: gradle/actions/setup-gradle@v3
      - uses: antoniovazquezblanco/setup-ghidra@v2.0.6
        with:
          version: ${{ matrix.ghidra_version }}

      - name: Build plugin via gradle
        run: gradle

      - name: Rename output zip
        run: mv dist/*_${{ matrix.ghidra_version }}_*.zip dist/ghidra_${{ matrix.ghidra_version }}_${{ github.event.repository.name }}.zip

      - name: Upload extension artifact
        uses: actions/upload-artifact@v4
        with:
          name: ghidra_${{ matrix.ghidra_version }}_${{ github.event.repository.name }}
          path: dist/*${{ github.event.repository.name }}.zip
